.wrapper{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.logo {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.input-box {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.buttons{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttons button{
    padding: 10px;
    margin-left: 10px;
}
input{
    order: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 34px;
    width: 400px;
    border-color: rgb(58, 58, 60);
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    text-indent: 30px;
    font-size: large;
    outline: none;
}
input:hover{
    box-shadow: 1px 1px rgb(111, 109, 109);
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 24px;

}
button{
    border-radius: 4px;
    border: none;
}
button:hover{
    /* background-color: rgb(221, 221, 221); */
    box-shadow: 2px 2px lightgray;
}
ul{
    float: right;
}
li{
    display: inline;
}
#apps{
    padding-bottom: 90px;
    position: relative;
    top: 5px;
}
a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
span{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
#signin{
    background-color: blue;
    color: white;
    padding: 10px;
}